{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=7O2jSK4SDhZcBdK1ngKWKyhCMMgnCjAT&location=fgjdfgdsdg",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14898"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14898"
          ],
          "Ratelimit-Reset": [
            "2027825"
          ],
          "Etag": [
            "W/\"29f-XDqd9zV7SveRtn3JleofJr++Nkg\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"fgjdfgdsdg\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea5\":\"\",\"adminArea4\":\"\",\"adminArea3\":\"\",\"adminArea1\":\"US\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A1XAX\",\"geocodeQuality\":\"COUNTRY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"displayLatLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"mapUrl\":\"\",\"source\":\"FALLBACK\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 16:42:55 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?key=f00e4c216c8d417b86c181129232409&q=38.89037,-77.03196",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 16:41:40"
          ],
          "Cdn-Edgestorageid": [
            "1069"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "1d01113e54242c5e4a07805267fca21a"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Washington\",\"region\":\"District of Columbia\",\"country\":\"United States of America\",\"lat\":38.89,\"lon\":-77.03,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695660099,\"localtime\":\"2023-09-25 12:41\"},\"current\":{\"last_updated_epoch\":1695659400,\"last_updated\":\"2023-09-25 12:30\",\"temp_c\":20.6,\"temp_f\":69.1,\"is_day\":1,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":350,\"wind_dir\":\"N\",\"pressure_mb\":1017.0,\"pressure_in\":30.04,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":70,\"cloud\":100,\"feelslike_c\":20.6,\"feelslike_f\":69.1,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":4.0,\"gust_mph\":9.2,\"gust_kph\":14.8},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":19.5,\"maxtemp_f\":67.1,\"mintemp_c\":14.8,\"mintemp_f\":58.6,\"avgtemp_c\":15.9,\"avgtemp_f\":60.7,\"maxwind_mph\":8.9,\"maxwind_kph\":14.4,\"totalprecip_mm\":0.06,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":7.0,\"avgvis_miles\":4.0,\"avghumidity\":90.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:58 AM\",\"sunset\":\"07:01 PM\",\"moonrise\":\"05:15 PM\",\"moonset\":\"01:57 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695614400,\"time\":\"2023-09-25 00:00\",\"temp_c\":15.1,\"temp_f\":59.2,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":296,\"wind_dir\":\"WNW\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":15.1,\"feelslike_f\":59.2,\"windchill_c\":15.1,\"windchill_f\":59.2,\"heatindex_c\":15.1,\"heatindex_f\":59.2,\"dewpoint_c\":14.9,\"dewpoint_f\":58.9,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":2.0,\"vis_miles\":1.0,\"gust_mph\":8.2,\"gust_kph\":13.2,\"uv\":1.0},{\"time_epoch\":1695618000,\"time\":\"2023-09-25 01:00\",\"temp_c\":15.0,\"temp_f\":59.0,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":6.3,\"wind_kph\":10.1,\"wind_degree\":299,\"wind_dir\":\"WNW\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":14.4[...]
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=100&offset=0&q=fgjdfgdsdg",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.011 TT 0 0.012\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 0,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [],\n    \"num_found\": 0,\n    \"q\": \"fgjdfgdsdg\",\n    \"offset\": 0\n}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 16:42:55 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}