{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=7O2jSK4SDhZcBdK1ngKWKyhCMMgnCjAT&location=aaaaaa",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14983"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14983"
          ],
          "Ratelimit-Reset": [
            "2102340"
          ],
          "Etag": [
            "W/\"29b-iDsJvAxvRWraqog6t/WBDHspFN0\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"aaaaaa\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea5\":\"\",\"adminArea4\":\"\",\"adminArea3\":\"\",\"adminArea1\":\"US\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A1XAX\",\"geocodeQuality\":\"COUNTRY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"displayLatLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"mapUrl\":\"\",\"source\":\"FALLBACK\"}]}]}"
        }
      },
      "recorded_at": "Sun, 24 Sep 2023 20:01:00 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?key=f00e4c216c8d417b86c181129232409&q=38.89037,-77.03196",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/24/2023 19:59:32"
          ],
          "Cdn-Edgestorageid": [
            "1069"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "54b2c15d5e5b484ef513508c77c99f39"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Washington\",\"region\":\"District of Columbia\",\"country\":\"United States of America\",\"lat\":38.89,\"lon\":-77.03,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695585527,\"localtime\":\"2023-09-24 15:58\"},\"current\":{\"last_updated_epoch\":1695584700,\"last_updated\":\"2023-09-24 15:45\",\"temp_c\":20.0,\"temp_f\":68.0,\"is_day\":1,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"wind_mph\":5.6,\"wind_kph\":9.0,\"wind_degree\":200,\"wind_dir\":\"SSW\",\"pressure_mb\":1012.0,\"pressure_in\":29.87,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":90,\"cloud\":100,\"feelslike_c\":20.0,\"feelslike_f\":68.0,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":4.0,\"gust_mph\":3.1,\"gust_kph\":5.0},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-24\",\"date_epoch\":1695513600,\"day\":{\"maxtemp_c\":19.2,\"maxtemp_f\":66.6,\"mintemp_c\":15.3,\"mintemp_f\":59.5,\"avgtemp_c\":16.9,\"avgtemp_f\":62.3,\"maxwind_mph\":18.3,\"maxwind_kph\":29.5,\"totalprecip_mm\":22.28,\"totalprecip_in\":0.88,\"totalsnow_cm\":0.0,\"avgvis_km\":6.2,\"avgvis_miles\":3.0,\"avghumidity\":97.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":87,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Heavy rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/308.png\",\"code\":1195},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:57 AM\",\"sunset\":\"07:02 PM\",\"moonrise\":\"04:32 PM\",\"moonset\":\"12:42 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"63\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695528000,\"time\":\"2023-09-24 00:00\",\"temp_c\":15.5,\"temp_f\":59.9,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":18.3,\"wind_kph\":29.5,\"wind_degree\":56,\"wind_dir\":\"ENE\",\"pressure_mb\":1009.0,\"pressure_in\":29.81,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":94,\"cloud\":100,\"feelslike_c\":15.5,\"feelslike_f\":59.9,\"windchill_c\":15.5,\"windchill_f\":59.9,\"heatindex_c\":15.5,\"heatindex_f\":59.9,\"dewpoint_c\":14.6,\"dewpoint_f\":58.2,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":28.1,\"gust_kph\":45.1,\"uv\":1.0},{\"time_epoch\":1695531600,\"time\":\"2023-09-24 01:00\",\"temp_c\":15.5,\"temp_f\":59.9,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":17.4,\"wind_kph\":28.1,\"wind_degree\":59,\"wind_dir\":\"ENE\",\"pressure_mb\":1009.0,\"pressure_in\":29.79,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":95,\"cloud\":100,\"feelslike_c[...]
