{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=7O2jSK4SDhZcBdK1ngKWKyhCMMgnCjAT&location=cincinnati,oh",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14992"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14992"
          ],
          "Ratelimit-Reset": [
            "2105349"
          ],
          "Etag": [
            "W/\"325-G+A865ASfmDXwydXDsNkzu/Qqgs\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"cincinnati,oh\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Cincinnati\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Hamilton\",\"adminArea4Type\":\"County\",\"adminArea3\":\"OH\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"displayLatLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sun, 24 Sep 2023 19:10:51 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?key=f00e4c216c8d417b86c181129232409&q=39.10713,-84.50413",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/24/2023 19:07:51"
          ],
          "Cdn-Edgestorageid": [
            "1067"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "3e01a7ed6a935f46cf93094da29f6397"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Newport\",\"region\":\"Kentucky\",\"country\":\"United States of America\",\"lat\":39.11,\"lon\":-84.5,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695582427,\"localtime\":\"2023-09-24 15:07\"},\"current\":{\"last_updated_epoch\":1695582000,\"last_updated\":\"2023-09-24 15:00\",\"temp_c\":26.1,\"temp_f\":79.0,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":12.5,\"wind_kph\":20.2,\"wind_degree\":40,\"wind_dir\":\"NE\",\"pressure_mb\":1015.0,\"pressure_in\":29.98,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":45,\"cloud\":0,\"feelslike_c\":26.6,\"feelslike_f\":79.8,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":7.5,\"gust_kph\":12.0},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-24\",\"date_epoch\":1695513600,\"day\":{\"maxtemp_c\":28.6,\"maxtemp_f\":83.5,\"mintemp_c\":13.9,\"mintemp_f\":57.0,\"avgtemp_c\":20.2,\"avgtemp_f\":68.4,\"maxwind_mph\":7.4,\"maxwind_kph\":11.9,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":66.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"07:27 AM\",\"sunset\":\"07:32 PM\",\"moonrise\":\"05:04 PM\",\"moonset\":\"01:13 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"63\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695528000,\"time\":\"2023-09-24 00:00\",\"temp_c\":17.6,\"temp_f\":63.7,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.7,\"wind_kph\":7.6,\"wind_degree\":62,\"wind_dir\":\"ENE\",\"pressure_mb\":1015.0,\"pressure_in\":29.99,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":62,\"cloud\":0,\"feelslike_c\":17.6,\"feelslike_f\":63.7,\"windchill_c\":17.6,\"windchill_f\":63.7,\"heatindex_c\":17.6,\"heatindex_f\":63.7,\"dewpoint_c\":10.2,\"dewpoint_f\":50.3,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":9.9,\"gust_kph\":15.9,\"uv\":1.0},{\"time_epoch\":1695531600,\"time\":\"2023-09-24 01:00\",\"temp_c\":16.7,\"temp_f\":62.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.5,\"wind_kph\":7.2,\"wind_degree\":51,\"wind_dir\":\"NE\",\"pressure_mb\":1015.0,\"pressure_in\":29.97,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":69,\"cloud\":0,\"feelslike_c\":16.7,\[...]
