{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=7O2jSK4SDhZcBdK1ngKWKyhCMMgnCjAT&location=invalid_location",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14836"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14836"
          ],
          "Ratelimit-Reset": [
            "1927357"
          ],
          "Etag": [
            "W/\"2a5-FFTBLptzwcFkjdDxM0uHymto6sg\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"invalid_location\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea5\":\"\",\"adminArea4\":\"\",\"adminArea3\":\"\",\"adminArea1\":\"US\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A1XAX\",\"geocodeQuality\":\"COUNTRY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"displayLatLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"mapUrl\":\"\",\"source\":\"FALLBACK\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 20:37:23 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?key=f00e4c216c8d417b86c181129232409&q=38.89037,-77.03196",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 20:37:24"
          ],
          "Cdn-Edgestorageid": [
            "1069"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "b5d8d2f9928abd8a9d5500aab14b3be7"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Washington\",\"region\":\"District of Columbia\",\"country\":\"United States of America\",\"lat\":38.89,\"lon\":-77.03,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695760642,\"localtime\":\"2023-09-26 16:37\"},\"current\":{\"last_updated_epoch\":1695760200,\"last_updated\":\"2023-09-26 16:30\",\"temp_c\":16.1,\"temp_f\":61.0,\"is_day\":1,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"wind_mph\":11.9,\"wind_kph\":19.1,\"wind_degree\":40,\"wind_dir\":\"NE\",\"pressure_mb\":1025.0,\"pressure_in\":30.28,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":87,\"cloud\":100,\"feelslike_c\":16.1,\"feelslike_f\":61.0,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":3.0,\"gust_mph\":11.6,\"gust_kph\":18.6},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":17.8,\"maxtemp_f\":64.0,\"mintemp_c\":13.1,\"mintemp_f\":55.6,\"avgtemp_c\":14.6,\"avgtemp_f\":58.2,\"maxwind_mph\":8.7,\"maxwind_kph\":14.0,\"totalprecip_mm\":0.61,\"totalprecip_in\":0.02,\"totalsnow_cm\":0.0,\"avgvis_km\":9.0,\"avgvis_miles\":5.0,\"avghumidity\":86.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":89,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/176.png\",\"code\":1063},\"uv\":3.0},\"astro\":{\"sunrise\":\"06:59 AM\",\"sunset\":\"06:59 PM\",\"moonrise\":\"05:50 PM\",\"moonset\":\"03:15 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695700800,\"time\":\"2023-09-26 00:00\",\"temp_c\":14.9,\"temp_f\":58.8,\"is_day\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/176.png\",\"code\":1063},\"wind_mph\":7.4,\"wind_kph\":11.9,\"wind_degree\":9,\"wind_dir\":\"N\",\"pressure_mb\":1022.0,\"pressure_in\":30.18,\"precip_mm\":0.02,\"precip_in\":0.0,\"humidity\":84,\"cloud\":100,\"feelslike_c\":14.3,\"feelslike_f\":57.7,\"windchill_c\":14.3,\"windchill_f\":57.7,\"heatindex_c\":14.9,\"heatindex_f\":58.8,\"dewpoint_c\":12.3,\"dewpoint_f\":54.1,\"will_it_rain\":1,\"chance_of_rain\":71,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":10.3,\"gust_kph\":16.6,\"uv\":1.0},{\"time_epoch\":1695704400,\"time\":\"2023-09-26 01:00\",\"temp_c\":14.8,\"temp_f\":58.7,\"is_day\":0,\"condition\":{\"text\":\"Light drizzle\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/266.png\",\"code\":1153},\"wind_mph\":7.2,\"wind_kph\":11.5,\"wind_degree\":2,\"wind_dir\":\"N\",\"pressure_mb\":1022.0,\"pressure_in\":30.19,\"precip_mm\":0.16,\"precip_in\":0.01,\"humidity\":87,\"cloud\":100,\"feelslik[...]
